body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #e5f1ed;
}

h1 {
  text-align: center;
}

.schedule {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20px repeat(5, 1fr);
  grid-template-rows: 60px 60px 60px 60px 60px 60px;
  grid-gap: 10px;
}

select {
  width: 200px;
  height: 30px;
  margin-top: 10px;
}

.schedule-label {
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-item {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-size: 12px;
}

.create-button button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select#scrollBar {
  width: 300px;
  /*margin-left: 150px;  スクロールバーを右にずらすために、margin-leftの値を調整してください */
  height: 200px;
  overflow-y: scroll;
}

table {
  width: 500px;
  height: 100px;

}

option {
  border-bottom: 1px solid #32b872;
}

a {
  color: #000;
}

section {
  text-align: center;
  padding: 40vh 0;
}

.hamburger {
  position: fixed;
  top: 26px;
  right: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 9;
}

.hamburger .line {
  position: absolute;
  top: 0;
  left: 20px;
  width: 32px;
  height: 2px;
  background: #333333;
  text-align: center;
}

.hamburger .line01 {
  top: 16px;
  transition: 0.4s ease;
}

.hamburger .line02 {
  top: 26px;
  transition: 0.4s ease;
}

.hamburger .line03 {
  top: 36px;
  transition: 0.4s ease;
}

.v-line01 {
  transform: translateY(10px) rotate(-45deg);
  transition: 0.4s ease;
}

.v-line02 {
  transition: 0.4s ease;
  opacity: 0;
}

.v-line03 {
  transform: translateY(-10px) rotate(45deg);
  transition: 0.4s ease;
}

.menu-enter-active,
.menu-leave-active {
  transition: opacity 0.4s;
}

.menu-enter,
.menu-leave-to {
  opacity: 0;
}

.menu li {
  list-style: none;
  line-height: 1;
  padding: 1rem;
}

.menu {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 8;
  padding: 4vw;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  font-size: 20px;
  line-height: 2;
  text-align: center;
}